
[mcu]
## canbus_uuid: c5b2eaa0e8ed
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_460038001551303432323631-if00
## serial: /dev/serial/by-id/usb-katapult_stm32f446xx_460038001551303432323631-if00

# restart_method: command
##--------------------------------------------------------------------

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 4000             #Max 4000
# max_accel_to_decel: 3600
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

## Use below when calibrating input shaping
## max_accel: 10000
## max_accel_to_decel: 10000
## SET_VELOCITY_LIMIT ACCEL_TO_DECEL=10000
## SET_PRESSURE_ADVANCE ADVANCE=0
## SET_INPUT_SHAPER SHAPER_FREQ_X=0 SHAPER_FREQ_Y=0
## SHAPER_CALIBRATE

[exclude_object]
[display_status]
[pause_resume]

#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: PC4
diag_pin: ^PG6
interpolate: false
run_current: 1.1
sense_resistor: 0.110
stealthchop_threshold: 999999
driver_SGTHRS: 120
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 64
full_steps_per_rotation:400  #set to 400 for 0.9 degree stepper
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 85   #Max 100
homing_retract_dist: 0.0
homing_positive_dir: true
endstop_pin: tmc2209_stepper_x:virtual_endstop
# endstop_pin: PG6

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin: PD11
diag_pin: ^PG9
interpolate: false
run_current: 1.1
sense_resistor: 0.110
stealthchop_threshold: 999999
driver_SGTHRS: 120
[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 64
full_steps_per_rotation:400  #set to 400 for 0.9 degree stepper
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 85  #Max 100
homing_retract_dist: 0.0
homing_positive_dir: true
endstop_pin: tmc2209_stepper_y:virtual_endstop
# endstop_pin: PG9

 
#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
##  Connected to MOTOR_2
##  Endstop connected to DIAG_2
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
# endstop_pin: PG10
endstop_pin: probe:z_virtual_endstop
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: -1

##  Uncomment below for 350mm build
position_max: 310
##--------------------------------------------------------------------
position_min: -5
homing_speed: 15
second_homing_speed: 5
homing_retract_dist: 5
##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PC6
interpolate: false
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 999

##  Z1 Stepper - Rear Left
##  Connected to MOTOR_3
[stepper_z1]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: false
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 999

##  Z2 Stepper - Rear Right
##  Connected to MOTOR_4
[stepper_z2]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: false
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 999

##  Z3 Stepper - Front Right
##  Connected to MOTOR_5
[stepper_z3]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: false
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 999





#[filament_switch_sensor RunoutSensor]
#switch_pin: ^EBBCan:PB6
#pause_on_runout: false
#runout_gcode: M600

#[filament_switch_sensor toolhead_sensor]
#switch_pin: ^EBBCan:PB8



#####################################################################
#   Bed Heater
#####################################################################

##  SSR Pin - HE1
##  Thermistor - TB
[heater_bed]
##  Uncomment the following line if using the default SSR wiring from the docs site
heater_pin: PA3
##  Other wiring guides may use BED_OUT to control the SSR. Uncomment the following line for those cases
#heater_pin: PA1
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PF3
##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
max_power: 0.6
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

#####################################################################
#   Probe
#####################################################################

#[probe]
#pin: !EBBCan:PB9
#x_offset: 0
#y_offset: 0
#z_offset: 0
#speed: 25
#samples: 3
#samples_result: average
#sample_retract_dist: 5.0
#samples_tolerance: 0.0075
#samples_tolerance_retries: 10

#activate_gcode:
#    {% set PROBE_TEMP = 150 %}
#    {% set MAX_TEMP = PROBE_TEMP + 5 %}
#    {% set ACTUAL_TEMP = printer.extruder.temperature %}
#    {% set TARGET_TEMP = printer.extruder.target %}
#    
#    {% if printer["gcode_macro CONFIGS"].hotzprobe == True %}
#       M118 HotZProbe value is {printer["gcode_macro CONFIGS"].hotzprobe}
#       M118 Probing Z with hot nozzel!
#    {% else %}  
      # M118 Probing Z with cold nozzel!
#      {% if TARGET_TEMP > PROBE_TEMP %}
#          { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
#          M109 S{ PROBE_TEMP }
#      {% else %}
          # Temperature target is already low enough, but nozzle may still be too hot.
#          {% if ACTUAL_TEMP > MAX_TEMP %}
#              { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
#              TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
#          {% endif %}
#      {% endif %}
#    {% endif %}
    

#####################################################################
#   Fan Control
#####################################################################

##  Print Cooling Fan - FAN0
#[fan]
## pin: PA8
#pin: EBBCan:PA1
#kick_start_time: 0.5
#off_below: 0.10

##  Hotend Fan - FAN1
#[heater_fan hotend_fan]
## pin: PE5
#pin: EBBCan:PA0
#max_power: 1.0
#kick_start_time: 0.5
#heater: extruder
#heater_temp: 50.0

##  Controller fan - FAN2
[controller_fan controller_fan]
pin: PD12
max_power: 0.5
kick_start_time: 0.5
heater: heater_bed

##  Exhaust fan - FAN3
#[heater_fan exhaust_fan]
#pin: PD13
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0

#####################################################################
#   LED Control
#####################################################################

## Chamber Lighting - HE2 Connector (Optional)
#[output_pin caselight]
#pin: PB10
#pwm:true
#shutdown_value: 0
#value:1
#cycle_time: 0.01

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 86400

#[safe_z_home]
##  XY Location of the Z Endstop Switch
##  Update -10,-10 to the XY coordinates of your endstop pin 
##  (such as 157,305) after going through Z Endstop Pin
##  Location Definition step.
## home_xy_position:122,350
#home_xy_position:175,175
#speed:100
#z_hop:10



# [menu __main __octoprint]
# type: disabled

[firmware_retraction]
retract_length: 0
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 20
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 10
#   The speed of unretraction, in mm/s. The default is 10 mm/s.


[respond]
[include mainsail.cfg]
[gcode_arcs]
[display_status]
[pause_resume]
[include timelapse.cfg]
[include ./Macros/*.cfg]
[include ./Displays/*.cfg]
[include ./HW/*.cfg]
# [include KAMP_Settings.cfg]
# [include moonraker_obico_macros.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 39.756
#*# pid_ki = 1.380
#*# pid_kd = 286.244
#*#

#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 53.4
#*# shaper_type_y = mzv
#*# shaper_freq_y = 40.6
#*#
